{% extends "base.html" %}

{% block subtitle %}
  Create a Project
{% endblock %}

{% block content %}

  <br><br>
  <!-- form beggining-->
  <div class="row">
  <form class="col s12" method="POST" action="{{ url_for('create') }}">
    <div class="row">
      <div class="input-field col s6">
        <input id="project_name" type="text" class="validate", name="project_name">
        <label for="project_name">Project Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="short_description" class="validate" rows="2" name="short_description"></textarea>
        <label for="short_description">Short Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="long_description" class="validate" rows="4" name="long_description"></textarea>
        <label for="long_description">Long Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="funding_goal" type="number" class="validate" name="funding_goal">
        <label for="funding_goal">Funding Goal ($)</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="funding_end_date" type="date" name="funding_end_date">
        <label for="funding_end_date"></label><a> Funding End Date</a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
  <!-- form ending-->

{% endblock content %}
